{% extends "layout.html" %}
{% block title %}
HackBox Console - Challenges
{% endblock %}
{% block headloadscript %}
    <!-- Import element definition and auto-register -->
    <script type="module" src="https://cdn.jsdelivr.net/npm/zero-md@3?register"></script>
{% endblock %}
{% block content %}
<h1 id="challengeTitle">Challenge 1</h1>

<div class="buttons spacer">
    <a id="navToPreviousChallenge" href="#" class="button">Previous</a>
    <a id="navToCurrentChallenge" href="#" class="button current">Current</a>
    <a id="navToNextChallenge" href="#" class="button">Next</a>
    {% if user and user.is_authenticated and user.role == 'coach' %}
    <a id="approveCurrentChallenge" href="#" class="button danger">Approve</a>
    <a id="revertApproval" href="#" class="button danger">Revert Approval</a>
    {% endif %}
</div>



<!-- Render Markdown -->
<zero-md id="zeromd" src=""></zero-md>

{% endblock %}

{% block bottomloadscript %}
<script type="text/javascript">
    window.defaultChallengeUrl='{{ url_for("static_challenges", filename="") }}';
</script>
<script src="{{ url_for('static', filename='assets/js/challenges.js') }}"></script>
{% endblock %}
